<app-e-commerce-header></app-e-commerce-header>
<div id="content" class="contactUs">
    <div class="page-header page-header-text-light bg-secondary">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <h1 class="text-center contact-heading m-0">Return &amp; Cancellation Policy</h1>
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="content">
        <div class="container">
            <div class="mt-3 mb-3 p-4">
                <h2 class="section-title">Return &amp; Cancellation Policy</h2>
                <ol style="font-size: 14px;color: #7d7d7d;">
                    <li>No returns/ exchanges/ dissolution will be obtainable on mobile recharges processed on incorrect
                        mobile numbers.</li>
                    <li>If the transaction has been administered by DTH operators; it can be located to the right VC
                        number
                        or can be altered as aided by DTH operators given that the complaint is booked within 24 hours.
                    </li>
                    <li>Part cancellation in DTH operator is unacceptable</li>
                    <li>In case of low balance in any VC number; the vendor is required to transfer minimum balance
                        recharge
                        so as to put reversal and/or return request, Merchant should ensure that the recharge amount has
                        been used by the consumer in case of the wrong recharge.</li>
                    <li>The unused balance in Nestor India's wallet is not transferable.</li>
                    <li>No repayments would be given if the customer has fed wrong or partial transfer and/or reversal
                        details and accordingly requests failed by operators.</li>
                    <li>Anyhow whatsoever contained herein, the following products/services shall not be subject to
                        return/replacement/reversals/cancellation such as; any cellular operator top-ups, postpaid
                        recharge,
                        landline bills that is mistakenly paid, electricity reimbursements, and so on.
                    </li>
                </ol>
                <br>
                <strong>RETURNING A GIFT:</strong>
                <p class="welcome-txt">We comprehend if the gift goes south for you. Please email us at
                    support@nirmalshree.com for support in returning the gift item.
                    <br>All the above conditions about the return of goods are subject to apply to the return of gifts
                    as
                    well.
                    <br>You cannot attain, store, praise for a reimbursed gift item; yet, we can certainly process a
                    gift
                    exchange for you for another gift item.
                </p>
                <strong>CANCELLATION POLICIES:</strong>
                <ol style="font-size: 14px;color: #7d7d7d;">
                    <li>If you have to cancel an order of products/services, please do so within 24 hours of placing the
                        order. It is NOT possible to cancel a fragment of your order. We advocate for the cancellation
                        of
                        the entire order and re-purchase essential quantities to streamline the transaction.</li>
                    <li>If you withdraw your order before your product has shipped, we will reimburse the entire amount
                        notwithstanding deduction of charges if any, and whereas you cancel your order after the
                        shipment
                        but before delivery of the item, the same will be subject to deduction of the two-way shipping
                        expenses.</li>
                    <li>All cancellations are bound by a cancellation charge/bank transaction charge of 3.5% of your
                        total
                        order value. There are situations when the company might have to cancel a particular order.</li>
                    <li>Your acceptance of an electronic or another form of order sanction does not imply our final
                        receipt
                        of your order and Nestor India Private Limited reserves the right whenever after the receipt
                        of
                        your order to assent or drop your order for any reason.</li>
                </ol>
            </div>
        </div>
    </div>


</div>
<!-- Content end -->
<app-e-commerce-footer></app-e-commerce-footer>
<app-modal-dialog></app-modal-dialog>
