<app-e-commerce-header></app-e-commerce-header>
<div id="content" class="contactUs">
  <div class="page-header page-header-text-light bg-secondary">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-3">
          <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h1 class="text-center contact-heading m-0">Cards</h1>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="myProfile" style="height: 700px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="profile-info">
          <div class="profile-name">Kristin Watson</div>
          <div class="profile-contact">+91 98547 54201</div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-profile-menu></app-profile-menu>
      </div>
      <div class="col-lg-8 ">
        <div class="row">
          <div class="col-lg-5">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="heading-list">Add Cards</div>
              <div><img src="../../../assets/images/plus_fill_blue.svg" /></div>
            </div>
            <div>
              <img src="../../../assets/images/card+info.svg" class="img-fluid"/>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5">
            <div class="heading-list mb-2">Recent Transaction</div>
            <div class="blue-info">
              <div class="d-flex justify-content-between mb-4 w-100">
                <div class="card-info-name">boAt Headphone</div>
                <div class="price">₹1000</div>
              </div>
              <div class="card-number">**** **** **** 0329</div>
            </div>
            <div class="blue-info">
              <div class="d-flex justify-content-between mb-4 w-100">
                <div class="card-info-name">boAt Charging Cable</div>
                <div class="price">₹1500</div>
              </div>
              <div class="card-number">**** **** **** 3578</div>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>