<!-- <app-header></app-header> -->

<!-- Content
  ============================================= -->
<div id="content">

    <!-- Secondary Navigation
    ============================================= -->
    <app-sub-header></app-sub-header>
    <!-- Secondary Navigation end -->

    <section class="container">
        <div class="bg-white shadow-md rounded p-4">
            <div class="row">

                <!-- DTH Recharge
          ============================================= -->
                <div class="col-lg-4 mb-4 mb-lg-0 left-col-section">
                    <h2 class="text-4 mb-3">DTH Recharge</h2>
                    <form [formGroup]="rechargeBillDth" (ngSubmit)="billDth(rechargeBillDth.value)">
                        <div class="form-group">
                            <select class="custom-select" #operatorId (click)="operaId(operatorId.value)"
                                formControlName="operator" name="operator" required="">
                                <option value="">Select Your Operator</option>
                                <option *ngFor="let item of result2" value="{{ item.operatorId }}">{{ item.operatorName
                                    }}</option>
                            </select>
                            <span class="error" *ngIf="submitted && getForm.operator.errors?.required">Operator
                                required</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" #subscribeId (blur)="subscId(subscribeId.value)"
                                formControlName="SubscribeId" data-bv-field="number" name="SubscribeId" required
                                placeholder="Subscribe Id/Mobile Number">
                            <span class="error" *ngIf="submitted && getForm.SubscribeId.errors?.required">Required
                                Subscribe Id/Mobile Number

                            </span>
                            <span *ngIf="dataView">
                                <span *ngIf="result3" class="blurEventData">
                                    <span>Name: {{ result3.Name }}</span>
                                    <br>
                                    <span>Plan Amount: {{ result3.PlanAmount }}</span>
                                    <br>
                                    <span>Balance: {{ result3.Balance }}</span>
                                    <br>
                                </span>
                                <!-- <span class="error">{{ result }}</span> -->
                            </span>
                        </div>
                        <!-- <div class="form-group input-group">
                            <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-rupee-sign"></i></span> </div>
                            <button data-target="#viewPlans" *ngIf="login; else logout"
                                [disabled]="rechargeBillDth.controls.operator.invalid || rechargeBillDth.controls.SubscribeId.invalid"
                                (click)="subscId(subscribeId.value)" style="border: none; background: none;" data-toggle="modal" type="button"
                                class="view-plans-link">View Plans
                            </button>
                            
                            <ng-template #logout>
                                <button data-target="#login-modal" style="border: none; background: none;" type="button" data-toggle="modal"
                                    class="view-plans-link">
                                    View Plans
                                </button>
                            </ng-template>
                        </div>
                         -->
                        <div class="form-group input-group">
                            <input class="form-control" name="amount" formControlName="amount" placeholder="Amount"
                                required type="text">
                            <span class="error" *ngIf="submitted && getForm.amount.errors?.required">Amount
                                required</span>
                        </div>
                        <button class="btn btn-primary btn-block" [disabled]="!buttonBlurValidation"
                            *ngIf="login; else logoutUser" type="submit">Continue</button>
                        <ng-template #logoutUser>

                            <button class="btn btn-primary btn-block" data-target="#login-modal" type="button"
                                data-toggle="modal">Continue</button>
                        </ng-template>
                    </form>
                </div><!-- DTH Recharge end -->

                <!-- Slideshow
          ============================================= -->


                <div class="col-lg-8">


                    <ngb-carousel class="app-my-carousel">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img class="img-fluid" src="assets/nirmalshreeUserInterface/images/slider/banner-3.jpg"
                                    alt="banner 3" />

                            </div>
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img class="img-fluid" src="assets/nirmalshreeUserInterface/images/slider/banner-5.jpg"
                                    alt="banner 5" />

                            </div>
                            <div class="carousel-caption">

                            </div>
                        </ng-template>

                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img class="img-fluid" src="assets/nirmalshreeUserInterface/images/slider/banner-4.jpg"
                                    alt="banner 4" />

                            </div>
                            <div class="carousel-caption">

                            </div>
                        </ng-template>

                    </ngb-carousel>
                </div>


                <!-- Slideshow end -->

            </div>
        </div>
    </section>

    <!-- Tabs
    ============================================= -->
    <div class="section pt-4 pb-3">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" id="mobile-recharge-tab" data-toggle="tab"
                        href="#mobile-recharge" role="tab" aria-controls="mobile-recharge" aria-selected="true">DTH
                        Recharge</a> </li>
                <li class="nav-item"> <a class="nav-link" id="billpayment-tab" data-toggle="tab" href="#billpayment"
                        role="tab" aria-controls="billpayment" aria-selected="false">Best Offers</a> </li>
                <li class="nav-item"> <a class="nav-link" id="why-quickai-tab" data-toggle="tab" href="#why-quickai"
                        role="tab" aria-controls="why-quickai" aria-selected="false">Pay Online</a> </li>
            </ul>
            <div class="tab-content my-3" id="myTabContent">
                <div class="tab-pane fade show active" id="mobile-recharge" role="tabpanel"
                    aria-labelledby="mobile-recharge-tab">
                    <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris vim,
                        ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna
                        imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam tritani labores
                        facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure propriae.</p>
                    <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                        pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                        nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei aeque
                        populo. Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum nec, pri
                        alia ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore erroribus eu, in
                        case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus, legendos pertinacia an
                        nam.</p>
                </div>
                <div class="tab-pane fade" id="billpayment" role="tabpanel" aria-labelledby="billpayment-tab">
                    <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                        pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                        nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei aeque
                        populo. Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum nec, pri
                        alia ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore erroribus eu, in
                        case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus, legendos pertinacia an
                        nam.</p>
                    <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris vim,
                        ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna
                        imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam tritani labores
                        facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure propriae.</p>
                </div>
                <div class="tab-pane fade" id="why-quickai" role="tabpanel" aria-labelledby="why-quickai-tab">
                    <p>Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum nec, pri alia
                        ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore erroribus eu, in case
                        prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus, legendos pertinacia an nam.
                    </p>
                    <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                        pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                        nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei aeque
                        populo.</p>
                    <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris vim,
                        ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna
                        imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam tritani labores
                        facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure propriae.</p>
                </div>
            </div>
        </div>
    </div><!-- Tabs end -->

    <!-- Refer & Earn
    ============================================= -->
    <div class="container">
        <section class="section bg-white shadow-md rounded px-5">
            <h2 class="text-9 font-weight-600 text-center">Refer & Earn</h2>
            <p class="lead text-center mb-5">Refer your friends and earn up to $20.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                class="fas fa-bullhorn"></i> </div>
                        <h3>You Refer Friends</h3>
                        <p class="text-3">Share your referral link with friends. They get $10.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                class="fas fa-sign-in-alt"></i> </div>
                        <h3>Your Friends Register</h3>
                        <p class="text-3">Your friends Register with using your referral link.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                class="fas fa-dollar-sign"></i> </div>
                        <h3>Earn You</h3>
                        <p class="text-3">You get $20. You can use these credits to take recharge.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-4"> <a href="#" class="btn btn-primary">Get Started Earn</a> </div>
        </section>
    </div><!-- Refer & Earn end -->

    <!-- Mobile App
    ============================================= -->
    <app-mobile-app-link></app-mobile-app-link><!-- Mobile App end -->

</div><!-- Content end -->
<!-- <app-footer></app-footer> -->
<!-- <app-modal-dialog></app-modal-dialog> -->