<app-e-commerce-header></app-e-commerce-header>
<div id="content" class="contactUs">
    <div class="page-header page-header-text-light bg-secondary">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <h1 class="text-center contact-heading m-0">CHANGE password</h1>
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="change-password" style="height: 700px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile-info">
                    <div class="profile-name">Kristin Watson</div>
                    <div class="profile-contact">+91 98547 54201</div>
                </div>
            </div>
            <div class="col-lg-3">
                <app-profile-menu></app-profile-menu>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                            <div class="form-group change-pwd-form-group">
                                <mat-form-field appearance="outline" class="w-100 relative">
                                    <mat-label>Current Password</mat-label>
                                    <input matInput type="password" formControlName="currentPassword"
                                        name="currentPassword" data-bv-field="Current Password"
                                        placeholder="Current Password">
                                        <img src="../../../assets/images/eye_open.svg" class="eye-open"/>
                                    <span class="error"
                                        *ngIf="submitted && errorCtr.currentPassword.errors?.required">*Existing
                                        Password is required</span>
                                </mat-form-field>
                            </div>
                            <div class="form-group change-pwd-form-group">
                                <mat-form-field appearance="outline" class="w-100 relative">
                                    <mat-label>New Password</mat-label>
                                    <input matInput type="password" data-bv-field="newpassword"
                                        formControlName="newPassword" name="newPassword" placeholder="New Password">
                                        <img src="../../../assets/images/eye_close.svg" class="eye-close"/>
                                    <span class="error" *ngIf="submitted && errorCtr.newPassword.errors?.required">*New
                                        Password is required</span>
                                    <span class="error"
                                        *ngIf="submitted && errorCtr.newPassword.errors?.minlength">*Minimum
                                        8
                                        character password required</span>
                                </mat-form-field>
                            </div>
                            <div class="form-group change-pwd-form-group">
                                <mat-form-field appearance="outline" class="w-100 relative">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput type="password" data-bv-field="confirmgpassword"
                                        name="confirmPassword" formControlName="confirmPassword"
                                        placeholder="Confirm Password">
                                        <img src="../../../assets/images/eye_close.svg" class="eye-close"/>
                                    <span class="error"
                                        *ngIf="submitted && errorCtr.confirmPassword.errors?.required">*Confirm
                                        Password is required</span>

                                    <span class="error">{{ result }} </span>
                                </mat-form-field>
                            </div>
                            <button role="button" class=" c-save-btn btn-animated"
                            type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>