button {
  cursor: pointer;
}

.radio_img {
  cursor: pointer;
}

.radio_img > input {
  /* display: none; */
  visibility: hidden;
}
.radio_img > input:checked + .image {
  border: 2px solid #4de92e;
}
.radio_img .image {
  opacity: 0.8;
  width: 125px;
  height: 78px;
  background-position: center center;
  display: inline-block;
  margin: 10px;
}

#payment_class {
  display: flex;
  justify-content: center;
  align-content: center;
}

.razorpay_cls {
  background-color: #f9f9f9;
  background-image: url("/assets/e-commerce/images/pay-icon/card.png");
  background-repeat: no-repeat;
}
.upi_cls {
  background-image: url("/assets/e-commerce/images/pay-icon/UPI.png");
}
.wallet_cls {
  background-image: url("/assets/e-commerce/images/pay-icon/wallet.png");
}
.cod_cls {
  background-image: url("/assets/e-commerce/images/pay-icon/COD.png");
}

@media (max-width: 767px) {
  #payment_class {
    flex-direction: column;
  }
}

.label_payment {
  position: inherit;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}
