<!--footer start-->

<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 navbar-dark mt-sm-3">
                <h5 class="mb-4 text-white">Quick Links</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/home']"
                            routerlinkactive="router-link-active">Home</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/about-us']"
                            routerlinkactive="router-link-active">About</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/contact-us']"
                            routerlinkactive="router-link-active">Shop</a>
                    </li>
                    <li class="nav-item"><a [routerLink]="['/contact-us']" routerlinkactive="router-link-active"
                            class="nav-link">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-2 navbar-dark mt-sm-3">
                <h5 class="mb-4 text-white">Policy</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/terms']"
                            routerlinkactive="router-link-active">Term Of
                            Services</a></li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/privacy']"
                            routerlinkactive="router-link-active">Privacy
                            Policy</a></li>
                    <li class=" nav-item"> <a class="nav-link" [routerLink]="['/return-and-cancellation-policy']"
                            routerLinkActive="active">Return
                            and Cancellation</a> </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/shipping-policy']"
                            routerLinkActive="active">Shipping Policy</a> </li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-2 navbar-dark mt-sm-3">
                <h5 class="mb-4 text-white">Categories</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'Nm1YUTlFcFQ1d0IwQlNoWXl1WjNFQT09'}" routerlinkactive="router-link-active">Bluetooth</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'T21zVDFZTEhmYUhGUkd6anE5TXB3NWE4bkdoY09kZWFDVW9yRW9wcFFzVT0'}" routerlinkactive="router-link-active">Bluetooth
                            Neckband</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'eTB5L3duVzFwbENrbGFYN1MyQm9zbmgxa0VHVGZFeWc0ZlVjVGRhbDJQYz0'}" routerlinkactive="router-link-active">Buds</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'d3A5VFNrditHSDlvUzU5S1BwL0FsZz09'}" routerlinkactive="router-link-active">Car Charger</a></li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'MnlzZFdWcks1SGhmbXlndFExOTlhTjh2VUU3ZE95Rm9MNUlnNEExMGVNdz0'}" routerlinkactive="router-link-active">Data Cable</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'MnlzZFdWcks1SGhmbXlndFExOTlhTjh2VUU3ZE95Rm9MNUlnNEExMGVNdz0'}" routerlinkactive="router-link-active">Earphone</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'MFkzNk1DTTlSdlVOTXhuRUxhc0tIQT09'}" routerlinkactive="router-link-active">Handsfree</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/productList']" [queryParams]="{categoriesId:'V0ZTUlVpUWRTdmNHUGNyYmZVTlVPOFduSWNxNmFKSzZvVlhrZkhMY0wwaz0'}" routerlinkactive="router-link-active">Headphone</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-2 navbar-dark mt-sm-3">
                <h5 class="mb-4 text-white">Social</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class=" nav-item"><a class="nav-link" href="https://www.facebook.com/nirmalrecharge"
                            routerlinkactive="router-link-active">Facebook</a>
                    </li>
                    <li class=" nav-item"><a class="nav-link" href="https://www.instagram.com/nirmal_infoline_pvt_ltd/"
                            routerlinkactive="router-link-active">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-1 navbar-dark"></div>
            <div class="col-sm-12 col-md-3 navbar-dark">
                <div class="border-left mt-sm-3">
                    <div class="d-flex">
                        <div class="me-3"><img src="../../../assets/images/location.svg" /></div>
                        <div>
                            <h5 class="mb-3 text-white">Store Address</h5>
                            <p class="text-white">Nestor India Private Limited
                                A25, Swaminarayan avenue,
                                Near bhatia samajvadi, Mundra
                                relocation site, Bhuj - 370001,
                                Gujarat.</p>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="me-3"><img src="../../../assets/images/call.svg" /></div>
                        <div>
                            <h5 class=" text-white">Contact</h5>
                            <p class="text-white">+91 94086 5477</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 navbar-dark">
                <div class="text-center pt-40 pb-40">
                    <p class="m-0 text-white">100% Secure Payement</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="pe-2" src="../../../assets/images/card1.png" />
                        <img class="pe-2" src="../../../assets/images/card2.png" />
                        <img class="pe-2" src="../../../assets/images/card3.png" />
                        <img class="pe-2" src="../../../assets/images/card4.png" />
                        <img class="pe-2" src="../../../assets/images/card5.png" />
                        <img class="pe-2" src="../../../assets/images/card6.png" />
                        <img class="pe-2" src="../../../assets/images/card7.png" />
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center text-white">
            Copyright © 2021 <a class="text-primary">Nestor India</a> All Rights Reserved.            
        </div>
    </div>
</footer>

<!--footer end-->