<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
  ============================================= -->
    <!-- <app-header></app-header> -->
    <!-- Header end -->

    <!-- Content
  ============================================= -->
    <div id="content">

        <!-- Secondary Navigation
    ============================================= -->

        <app-sub-header></app-sub-header>

        <!-- Secondary Navigation end -->

        <section class="container">
            <div class="bg-white shadow-md rounded p-4">
                <div class="row">

                    <!-- DataCard Recharge
          ============================================= -->
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <h2 class="text-4 mb-3">DataCard Recharge or Bill Payment</h2>
                        <form [formGroup]="rechargeBillDataCard" (ngSubmit)="billDataCard(rechargeBillDataCard.value)">
                            <div class="mb-3">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="prepaid" name="rechargeBillpayment" formControlName="rechargeBillpayment"
                                        value="prepaid" class="custom-control-input" checked="" required type="radio">
                                    <label class="custom-control-label" for="prepaid">Prepaid</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="postpaid" name="rechargeBillpayment"
                                        formControlName="rechargeBillpayment" value="postpaid"
                                        class="custom-control-input" required type="radio">
                                    <label class="custom-control-label" for="postpaid">Postpaid</label>
                                </div>
                                <span class="error"
                                    *ngIf="rechargeBillDataCard.controls.rechargeBillpayment.invalid && rechargeBillDataCard.controls.rechargeBillpayment.touched">*Prepaid/Postpaid
                                    required</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="dataCardNumber"
                                    data-bv-field="number" name="dataCardNumber" required placeholder="DataCard Number">
                                <span class="error"
                                    *ngIf="rechargeBillDataCard.controls.dataCardNumber.invalid && rechargeBillDataCard.controls.dataCardNumber.touched">*dataCard
                                    Number required</span>
                            </div>
                            <div class="form-group">
                                <select class="custom-select" formControlName="operator" name="operator" required="">
                                    <option value="">Select Your Operator</option>
                                    <option>1st Operator</option>
                                    <option>2nd Operator</option>
                                    <option>3rd Operator</option>
                                    <option>4th Operator</option>
                                    <option>5th Operator</option>
                                    <option>6th Operator</option>
                                    <option>7th Operator</option>
                                </select>
                                <span class="error"
                                    *ngIf="rechargeBillDataCard.controls.operator.invalid && rechargeBillDataCard.controls.operator.touched">Operator
                                    required</span>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend"> <span class="input-group-text"><i
                                            class="fas fa-rupee-sign"></i></span> </div>
                                <a href="#" data-target="#view-plans" data-toggle="modal" class="view-plans-link">View
                                    Plans</a>
                                <input class="form-control" formControlName="amount" id="amount" placeholder="Amount"
                                    required type="text">
                            </div>
                            <span class="error"
                                *ngIf="rechargeBillDataCard.controls.amount.invalid && rechargeBillDataCard.controls.amount.touched">*Amount
                                required</span>
                            <button class="btn btn-primary btn-block" [disabled]="rechargeBillDataCard.invalid"
                                type="submit">Continue</button>
                        </form>
                    </div><!-- DataCard Recharge end -->

                    <!-- Slideshow
          ============================================= -->


                    <div class="col-lg-8">


                        <ngb-carousel class="app-my-carousel">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img class="img-fluid"
                                        src="assets/nirmalshreeUserInterface/images/slider/banner-2.jpg"
                                        alt="banner 3" />

                                </div>
                                <div class="carousel-caption">

                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img class="img-fluid"
                                        src="assets/nirmalshreeUserInterface/images/slider/banner-1.jpg"
                                        alt="banner 4" />

                                </div>
                                <div class="carousel-caption">

                                </div>
                            </ng-template>

                        </ngb-carousel>
                    </div>


                    <!-- Slideshow end -->

                </div>
            </div>
        </section>

        <!-- Tabs
    ============================================= -->
        <div class="section pt-4 pb-3">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" id="mobile-recharge-tab" data-toggle="tab"
                            href="#mobile-recharge" role="tab" aria-controls="mobile-recharge"
                            aria-selected="true">DataCard Recharge</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="billpayment-tab" data-toggle="tab" href="#billpayment"
                            role="tab" aria-controls="billpayment" aria-selected="false">Best Offers</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="why-quickai-tab" data-toggle="tab" href="#why-quickai"
                            role="tab" aria-controls="why-quickai" aria-selected="false">Pay Online</a> </li>
                </ul>
                <div class="tab-content my-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="mobile-recharge" role="tabpanel"
                        aria-labelledby="mobile-recharge-tab">
                        <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu
                            nec magna imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam
                            tritani labores facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure
                            propriae.</p>
                        <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                            pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                            nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei
                            aeque populo. Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum
                            nec, pri alia ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore
                            erroribus eu, in case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus,
                            legendos pertinacia an nam.</p>
                    </div>
                    <div class="tab-pane fade" id="billpayment" role="tabpanel" aria-labelledby="billpayment-tab">
                        <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                            pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                            nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei
                            aeque populo. Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum
                            nec, pri alia ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore
                            erroribus eu, in case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus,
                            legendos pertinacia an nam.</p>
                        <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu
                            nec magna imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam
                            tritani labores facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure
                            propriae.</p>
                    </div>
                    <div class="tab-pane fade" id="why-quickai" role="tabpanel" aria-labelledby="why-quickai-tab">
                        <p>Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum nec, pri alia
                            ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore erroribus eu, in
                            case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus, legendos pertinacia
                            an nam.</p>
                        <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                            pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur,
                            nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei his, eu mei
                            aeque populo.</p>
                        <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu
                            nec magna imperdiet. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam
                            tritani labores facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure
                            propriae.</p>
                    </div>
                </div>
            </div>
        </div><!-- Tabs end -->

        <!-- Refer & Earn
    ============================================= -->
        <div class="container">
            <section class="section bg-white shadow-md rounded px-5">
                <h2 class="text-9 font-weight-600 text-center">Refer & Earn</h2>
                <p class="lead text-center mb-5">Refer your friends and earn up to $20.</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                    class="fas fa-bullhorn"></i> </div>
                            <h3>You Refer Friends</h3>
                            <p class="text-3">Share your referral link with friends. They get $10.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                    class="fas fa-sign-in-alt"></i> </div>
                            <h3>Your Friends Register</h3>
                            <p class="text-3">Your friends Register with using your referral link.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon bg-light-4 text-primary rounded-circle"> <i
                                    class="fas fa-dollar-sign"></i> </div>
                            <h3>Earn You</h3>
                            <p class="text-3">You get $20. You can use these credits to take recharge.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-4"> <a href="#" class="btn btn-primary">Get Started Earn</a> </div>
            </section>
        </div><!-- Refer & Earn end -->

        <!-- Mobile App
    ============================================= -->
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-6 text-center"> <img class="img-fluid" alt=""
                            src="assets/nirmalshreeUserInterface/images/app-mobile.png"> </div>
                    <div class="col-md-7 col-lg-6">
                        <h2 class="text-9 font-weight-600 my-4">Download Our Nestor India<br
                                class="d-none d-lg-inline-block">
                            Mobile App Now</h2>
                        <p class="lead">Download our app for the fastest, most convenient way to send Recharge.</p>
                        <p>Ridens mediocritatem ius an, eu nec magna imperdiet. Mediocrem qualisque in has. Enim utroque
                            perfecto id mei, ad eam tritani labores facilisis, ullum sensibus no cum. Eius eleifend in
                            quo.</p>
                        <ul>
                            <li>Recharge</li>
                            <li>Bill Payment</li>
                            <li>Booking Online</li>
                            <li>and much more.....</li>
                        </ul>
                        <div class="d-flex flex-wrap pt-2"> <a class="mr-4" href=""><img alt=""
                                    src="assets/nirmalshreeUserInterface/images/app-store.png"></a><a href=""><img
                                    alt="" src="assets/nirmalshreeUserInterface/images/google-play-store.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Mobile App end -->

    </div><!-- Content end -->

    <!-- Footer
  ============================================= -->
    <!-- <app-footer></app-footer>
</div> -->
    <!-- Document Wrapper end -->

    <!-- Back to Top
============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
            class="fa fa-chevron-up"></i></a>
    <!-- <app-modal-dialog></app-modal-dialog> -->