<app-header></app-header>
<div id="content">

    <section class="page-header page-header-text-light bg-secondary" style="height: 100px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h1>Disclaimer</h1>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                        <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
                        <li class="active">Disclaimer</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div id="content">
        <div class="container">
            <div class="bg-white shadow-md rounded p-4">
                <h2 class="section-title">Disclaimer</h2>
                <p class="welcome-txt">
                    The content in this site could include technical impreciseness or typographical mistakes.
                    Nestor India
                    may make amendments or enhancements at any time. The particulars on this site are delivered on an
                    "As it
                    stands" basis, without pledges of any kind either uttered or implied. To the completest extent
                    approved
                    according to applicable law, Nestor India denies all guarantees of merchantability and suitability
                    for a
                    particular purpose. Nestor India does not merit that the utilities contained in this site will be
                    incessant or error-free, that flaws will be modified, or that this site or the servers that make it
                    obtainable are free of viruses or other harmful modules, but shall attempt to ensure your fullest
                    gratification. <br>
                    <br> Nestor India does not license or make any exemplifications regarding the use of or the result
                    of
                    the use of the particulars on the site in terms of their precision, correctness, consistency, or
                    otherwise, insofar as such material is derived from other service providers such as recharges, bill
                    payments, money transfer or any services distributed or to be distributed in future. <br>
                    <br>You accept that this Website is provided only on the basis set off in these terms and
                    conditions.
                    Your incessant access or use of this website on this basis may be barred by specific factors outside
                    our
                    judicious control including, without limitation, the inaccessibility, inoperability, or intermission
                    of
                    the Internet or other communication services or as a result of any upkeep or other service work
                    carried
                    out on this website. Nestor India does not admit any responsibility and will not be responsible for
                    any
                    loss or damage whatsoever arising out of or regarding any ability/inability to access or to use the
                    site. <br>
                    <br> You also acknowledge that through this site, Nestor India simply provides intermediate services
                    so
                    as to facilitate the highest quality services to you. Nestor India is not the end-user service
                    provider
                    to you and therefore, Nestor India shall not be or believed to be answerable for any lack or deficit
                    of
                    services provided by any person you shall occupy or employ or engage according to or resulting from,
                    the
                    content available in this site. Nestor India will not be responsible to you or to any other person
                    for
                    any indirect, direct, subsidiary, corrective or momentous loss, damage, cost, or disbursement of any
                    kind at all and nevertheless produced from out of your practice of this website. <br>
                    <br> Anyhow anything else to the conflicting contained elsewhere herein or otherwise at law,
                    Nestor India's accountability (whether by way of indemnification to you or otherwise) shall be
                    constrained to a maximum of INR 1000 (Indian Rupees One Thousand only).
                </p>
            </div>
        </div>
    </div>


</div>
<!-- Content end -->
<app-footer></app-footer>
<app-modal-dialog></app-modal-dialog>
