<!-- <app-header></app-header> -->

<!-- Content
  ============================================= -->
<div id="content">


    <!-- Secondary Navigation
    ============================================= -->
    <!-- <app-sub-header></app-sub-header> -->
    <!-- Secondary Navigation end -->
    <section class="text-center pb-11 order-completed">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4">Thank you order is complete</h3>
                    <a class="btn btn-primary btn-animated" [routerLink]="['/']"
                        routerLinkActive="router-link-active"><i class="las la-home me-1"></i>Home</a>

                </div>
            </div>
        </div>
    </section>


</div><!-- Content end -->

<!-- <app-footer></app-footer> -->
<!-- <app-modal-dialog></app-modal-dialog> -->
