<app-e-commerce-header></app-e-commerce-header>
<div id="content">
    <div class="page-header page-header-text-light bg-secondary">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <h1 class="text-center contact-heading m-0 text-white">TERMS & CONDITIONS</h1>
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content-wrapper bg-white">
            <h2 class="section-title">Ownership</h2>
            <p class="welcome-txt pb-35">
                The website is owned/preserved/ circulated by Nestor India Private Limited ("Nestor India"), a company established under the Companies Act 2013 and prevailing compliant
                with the laws of the Republic of India. When you contact, cruise or use this site; you assent,
                without constraint or qualification, the terms and conditions expressed as enumerated below. <br>
            </p>
            <h2 class="section-title">About website and contents</h2>
            <p class="welcome-txt pb-35"> This site is only for your personal usage. You shall not allocate, interchange, adjust, trade, or convey anything you copy from this site, counting
                but not limited to any script, images, audio, and video, for any trade, commercial or public purpose.
                Nestor India Private Limited bequests you a non-exclusive, non-transferable, limited right to visit,
                view and use this site. You approve not to interject or try to interrupt the maneuver of this site in any
                way. Admission to certain areas of the site may only be accessible to registered participants. To
                become a registered participant, you may be required to respond to certain questions. Answers to such
                questions may be obligatory and/or elective. You signify and permit that all information you supply to us,
                about yourself, and others, is correct and precise. All resources on this site, including but not limited
                to audio, images, software, text, signs, and such like (the "Content"), are secured by copyright under
                international concords and copyright acts. You cannot use the Content, except as quantified herein.
                You approve to follow all directives on this site regulating the way you may approach the Content. <br>
                There are a number of exclusive logos, service marks, and emblems found on this site whether
                possessed/used by Nestor India or otherwise. By displaying them on this site, Nestor India is not
                permitting you any authorization to consume those exclusive logos, service marks, or emblems. Any
                unapproved use of the Content may infringe copyright laws, trademark laws, the laws of privacy and
                advertising, and civil and criminal decrees. You may download such copy/copies of the Content to be
                consumed only by you for your personal use at home unless the subsite you are retrieving states that
                you may not. If you download any Content from this site, you shall not eliminate any copyright or
                trademark posters or other notices that go with it.
            </p>
            <h2 class="section-title">Others rights</h2>
            <p class="welcome-txt ">If this site comprises bulletin boards, chat rooms,
                access to mailing lists, or other message or statement facilities, you agree to use the same only to
                receive and send texts and resources that are appropriate and related thereto. By way of example and
                not as a restraint, you agree that when using the site or any facility available here, you shall not do
                any of the following:
            </p>
            <ul class="inner-page-list">
                <li>Offend, abuse, hassle, stalk, bully or otherwise disturb the legal rights (such as rights of
                    privacy and publicity) of others</li>
                <li>Print, Publish, allocate or broadcast any slanderous, invading, explicit, impolite, or unlawful
                    material or information</li>
                <li>Upload or ascribe files that enclose viruses, corrupted files, or any other similar software or
                    programs that may impair the operation of another's computer</li>
                <li>Delete any author provenances, legal notices, or trademarked descriptions or labels in any file
                    that is uploaded</li>
                <li>Forge the origin or source of software or other material confined in a file that is uploaded
                </li>
                <li>Publicize or offer to sell any goods or services, or conduct or forward analyses, challenges or
                    chain letters, or download any file posted by another user of a forum that the user knows, or
                    rationally should know, cannot be legally circulated in such manner.</li>
            </ul>
        </div>
    </div>
    <div class="company-option ">
        <div class="container-fluid">
            <div class="row justify-content-between lr-space">
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/images/safe-shopping.svg" />
                        <div class="ml-2">Safe Shopping</div>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/images/free-shipping-outline.svg" />
                        <div class="ml-2">Free Shipping</div>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/images/Trusted_product.svg" />
                        <div class="ml-2">Trusted Products</div>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/images/inclusive_task.svg" />
                        <div class="ml-2">Inclusive Taxes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->
<app-e-commerce-footer></app-e-commerce-footer>
<app-modal-dialog></app-modal-dialog>