<app-e-commerce-header></app-e-commerce-header>
<div id="content" class="contactUs">
    <div class="page-header page-header-text-light bg-secondary">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <h1 class="text-center contact-heading m-0">Privacy Policy</h1>
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/images/dot-Frame.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="content">
        <div class="container">
            <div class=" p-4 mt-3 mb-3">
                <h2 class="section-title">Privacy Policy</h2>
                <p class="welcome-txt">
                    We, Nestor India, are listed at Bhuj, Gujarat. We account for the scenario that we would be in the
                    business of data and information of a personal nature. At Nestor India, we cherish your trust and
                    advocate for your privacy. This Privacy Policy will brief you on the details about how your data is
                    collected, kept, and used by us. You are counseled to go through this Privacy Policy carefully. By
                    visiting Nestor India's website, you expressly give us the consent to use/disclose your personal
                    information in accordance with this Privacy Policy. <br>

                    <br> <strong>Note:</strong> Our privacy policy may alter at any time devoid of prior notification.
                    To
                    ensure your awareness of any changes, kindly review the policy occasionally. This Privacy Policy
                    shall
                    apply consistently to the Nestor India website and its applications. <br>

                    <br> <strong>Genral</strong> <br> We will not trade, share or lend your personal information to any
                    third party or use your personal information for email communication and/or push messages or by any
                    other means of communication. Nestor India may expose your information over legal request for
                    disclosure
                    only. <br>

                    <br> <strong>Personal Information</strong> <br> Personal Information refers to and includes all
                    information that relates to a precise individual or to recognize any person, such as name, address,
                    email address, contact number, credit card number, cardholder name, card expiry details, information
                    about your cell phone, DTH service, data card, electricity connection, Smart Tags and any
                    particulars
                    that may have been willingly provided by the user regarding gaining any of the services from us.
                    When
                    you look at the Nestor India website, we may gather information about the domain and host from which
                    you
                    access the internet, the Internet Protocol (IP) address of the computer, or Internet service
                    provider
                    (ISP) you are using, and anonymous site arithmetic data. <br>

                    <br> <strong>Use of Personal Information</strong> <br> We use personal information to provide you
                    with
                    our services; products you clearly requested for, to address disputes, troubleshoot concerns, help
                    endorse safe services, accept money, review consumer interest in our services, update you about
                    proposals, products, services, upgrades, tailor your experience, detect anomalies; protect us
                    against
                    mistake, deception, and other criminal activity, impose our terms and conditions, etc. We also use
                    your
                    contact information to send you deals based on your earlier interests and orders. We may
                    sporadically
                    ask you to take elective online reviews. These reviews may ask you for contact information and
                    demographic facts (like pin code, gender, age, etc.). We use this data to customize the user
                    experience
                    at Nestor India, providing you with content that we think you might like and exhibiting content
                    according
                    to your inclinations. <br>

                    <br> <strong>Anonymous Information</strong> <br> Nestor India uses Cookies to collect information for
                    record-keeping purposes and makes it easier to scroll through the website. Cookies are trivial text
                    files that are stored on users' hard drives. We will not use cookies to gather personal information
                    without getting your consent. Nestor India website utilizes both session ID cookies and persistent
                    cookies. Session ID cookies are used to accumulate information whereas a user is logged into the
                    site
                    and terminates when the user closes the browser. Persistent cookies are used to generate tasks like
                    logging into the site easier for frequent users by retaining a user's login information. Persistent
                    cookies stay on a user's hard drive from one period to the next. You may choose not to accept
                    cookies
                    from us by following directions on the website. <br>

                    <br> <strong>Retaining information</strong> <br> Nestor India recharge keeps definite information/
                    records as mentioned above, under pertinent Indian laws for some essential period. Even after
                    termination of the Nestor India account; under specific laws, we have to keep this such info referred
                    to
                    as "Retained Data". Your personal data such as your name, contact details, consumer number, and
                    transaction history, ("Retained Data"). Other than the Retained Data, We will obliterate and destroy
                    all
                    personal information that we hold about you when you (or we) dismiss Your Nimalshree account. We do
                    not
                    stock your online banking login passwords, OTPs, and/or credentials. Please note that we will not
                    collect your credit card information. <br>

                    <br> Please note that we will never ask you to reveal your personal data or security details by
                    means of
                    e-mails or phone calls. If you receive any such e-mail supposedly from us inviting your personal
                    data or
                    security details, please do not react to it ("Such E-mail"). <br>

                    <br> <strong>Other Information</strong> <br> If the user wants to read the information gathered by
                    Nestor India or wants to make any modification, please log in to your Nestor India account, and "Edit"
                    your profile. If you believe that any material stored in Nestor India is
                    improper/incorrect/misrepresentative, please write to us at support@nirmalshree.com Nestor India,
                    which
                    will correct the information right away. <br>

                    <br> <strong>Consent</strong> <br> By using the Nestor India website or application by feeding your
                    information, you consent to the assortment and usage of the information you reveal on Nestor India
                    compliant with this Privacy Policy, including but not limited to your consensus for sharing your
                    information in line with this privacy policy. <br>

                    <br> <strong>Updates</strong> <br> Our Privacy Policy may amend at any time without erstwhile
                    notification. To ensure your awareness of any alterations, kindly analyze the policy occasionally.
                    This
                    Privacy Policy shall apply consistently to Nestor India’s desktop website and mobile applications.
                </p>
            </div>
        </div>
    </div>


</div>
<!-- Content end -->
<app-e-commerce-footer></app-e-commerce-footer>
<app-modal-dialog></app-modal-dialog>
